@model IEnumerable<CompanyExecutor>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" >Company Executor List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CompanyExecutor" asp-action="Create" class="btn btn-outline-success">
                Create new Company Executor
            </a>
        </div>
    </div>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Company Executor Id
            </th>
            <th>
                Company Executor Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Id
                </td>
                <td width="25%">
                    @obj.Name
                </td>
                <td>
                    <div class="bg-opacity-75 " role="group">
                        <div>
                            <a asp-controller="CompanyExecutor" asp-action="Edit" asp-route-id="@obj.Id"
                            class="btn btn-outline-info mx-2">
                            Edit
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="bg-opacity-75 " role="group">                       
                        <a asp-controller="CompanyExecutor" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-outline-danger mx-2">
                        Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
