@model WorkerProject

<form method="post" asp-action="DeleteWorkerPOST">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Worker</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name_worker"></label>
			<div>
				<input asp-for="Name_worker" disabled class="from-control"/>
			</div>
		</div>
		<button type="submit" class="btn btn-outline-danger" style="width:150px">Delete</button>
		<a asp-controller="Project" asp-action="Index" class="btn btn-outline-warning" style="width:150px">
			Back
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
